.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $primary-txt-color;

    @media screen and (max-width: $for-x-small-devices) {
        height: 70px;
    }

    &__copyright {
        @extend %bold-font;
        font-size: 15px;
        color: $primary-bg-color;

        @media screen and (max-width: $for-large-devices) {
            font-size: 12px;
        }
    }

    &__copyright__accent {
        color: $accent-color;
    }
}