.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $primary-txt-color;
    @include xs_devices {
        height: 70px;
    }

    &__copyright {
        @extend %bold-font;
        font-size: 15px;
        color: $primary-bg-color;
        @include l_devices {
            font-size: 12px;
        }
    }

    &__copyright__accent {
        color: $accent-color;
    }
}