@import './../template_props';
@import './../media_mixin';

.menu {
    position: relative;
    cursor: pointer;
    z-index: 200;

    &__is-showing {
        display: none;
    }

    &__burger-icon {
        width: 28px;
        height: 15px;
        overflow: hidden;

        &__icon_image {
            @extend %image-param;
            object-fit: contain;
        }
    }

    &__closing-icon {
        display: none;
    }

    &:hover{
        background-color: $primary-txt-color;
        width: 30%;
        height: 100%;
        z-index: 10;
        margin: 0;
        position: absolute;
        right: 0;
        top:0;
        box-sizing: border-box;
        padding-top: 40px;
        @include l_devices {
            width: 40%;
        }
        @include m_devices {
            width: 100%;
        }
    }
    
    &:hover &__burger-icon {
            display: none;
    }
    
    &:hover &__closing-icon {
        display: block;
        width: 28px;
        height: 15px;
        overflow: hidden;
        cursor: pointer;
        margin: 0 0 0 30px;
    }

    &:hover &__icon_image {
        @extend %image-param;
        object-fit: contain;
    }
    
    &:hover &__is-showing {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $primary-txt-color;
        z-index: 50;
        width: 100%;
        height: 100%;
        padding: 20px 0 30px 35px;
        box-sizing: border-box;
        @include landscape_devices {
            padding: 5px 0 20px 35px;
        }
    }

    &:hover &__nav-container__is-showing {
        @include landscape_devices {
            padding: 20px 20px 20px 0;
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;
        }
        }
    
     &:hover &__nav__is-showing {
        margin: 0 0 40px 0;
        @include s_devices {
            margin: 0 0 20px 0;
        }
        @include landscape_devices {
            margin: 0 0 5px 0;
        }
    }
    
    &:hover &__nav-list-item__is-showing {
        list-style: none;
        margin-left: -40px;
    }

    &:hover &__nav-list-item__is-showing a {
        text-decoration: none;
        @extend %regular-font;
        margin: 0;
        font-size: 29px;
        color: $primary-bg-color;
        @include xl_devices {
            font-size: 22px;
        }
        @include l_devices {
            font-size: 22px;
        }
        @include s_devices {
            font-size: 18px;
        }
        @include landscape_devices {
            font-size: 12px;
            margin: 0 0 5px 0;
        }
    }
    
    &:hover &__nav-list-item__is-showing a:hover, 
    &:hover &__nav-list-item__is-showing a:active {
        color: $accent-color;
    }

    
    &:hover &__contact__is-showing {
        margin: 0 0 40px 0;
        @include s_devices {
            margin: 0 0 20px 0;
        }
        @include landscape_devices {
            margin: 0 0 5px 0;
        }
    }
    
    &:hover &__contact__is-showing a {
        @extend %regular-font;
        margin: 0;
        text-decoration: none;
        font-size: 29px;
        color: $primary-bg-color;
        @include xl_devices {
            font-size: 22px;
        }
        @include l_devices {
            font-size: 22px;
        }
        @include s_devices {
            font-size: 18px;
        }
        @include landscape_devices {
            font-size: 12px;
            margin: 0 0 5px 0;
        }
    }
    
    &:hover &__contact__is-showing a:hover, 
    &:hover &__contact__is-showing a:active {
        color: $accent-color;
    }

    
    &:hover &__social__is-showing {
        margin: 0;
    }
    
    &:hover &__social__is-showing a {
        @extend %regular-font;
        margin: 0;
        text-decoration: none;
        display: block;
        font-size: 21px;
        color: $primary-bg-color;
        @include xl_devices {
            font-size: 18px;
        }
        @include l_devices {
            font-size: 18px;
        }
        @include s_devices {
            font-size: 16px;
        }
        @include landscape_devices {
            font-size: 12px;
            margin: 0 0 5px 0;
        }
    }
    
    &:hover &__social__is-showing a:hover, 
    &:hover &__social__is-showing a:active {
        color: $accent-color;
    }
    
    &:hover &__nav-title__is-showing {
        @extend %regular-font;
        color: $menu-title-color;
        font-size: 21px;
        margin: 0 0 25px 0;
        @include xl_devices {
            font-size: 16px;
            margin-bottom: 15px;
        }
        @include l_devices {
            font-size: 16px;
            margin-bottom: 15px;
        }
        @include s_devices {
            font-size: 14px;
            margin-bottom: 10px;
        }
        @include landscape_devices {
            font-size: 12px;
            margin: 0 0 5px 0;
        }
    }
    
    &:hover &__author-name__is-showing {
        @extend %regular-font;
        margin: 0;
        color: $menu-title-color;
    }
}

.menu__not-showing-elem {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    right: 27%;
    opacity: 0;
    @include xxl_devices {
        right: 26%;
    }
    @include xl_devices {
        right: 25%;
    }
    @include l_devices {
        right: 35%;
        top: 30px;
    }
    @include m_devices {
        left: 30px;
    }
}