.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 80px 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $secondary-bg-color;
    @include xl_devices {
        padding: 45px 0 65px 0;
    }
    @include l_devices {
        padding: 35px 0 50px 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 80px 0 0 0;
        @include xxl_devices {
            margin: 70px 0 0 0;
        }
        @include xl_devices {
            margin: 60px 0 0 0;
        }
        @include l_devices {
            margin: 45px 0 0 0;
        }
        @include s_devices {
            margin: 25px 0 0 0;
        }
        @include xs_devices {
            flex-direction: column;
            justify-content: center;
            width: 90%;
        }
    }

    &__card {
        width: 30%;
        display: flex;
        flex-direction: column;
        background-color: $primary-bg-color;
        @include xxl_devices {
            width: 32%;
        }
        @include xs_devices {
            width: 100%;
        }
    }

    &__card-image {
        width: 100%;
        overflow: hidden;

        img {
            @extend %image-param;
            object-fit: fill;
        }
    }

    &__card-info {
        padding: 30px;
        box-sizing: border-box;
        @include xxl_devices {
            padding: 20px;
        }
        @include xl_devices {
            padding: 15px;
        }
        @include s_devices {
            padding: 10px;
        }
    }

    &__card-name {
        @extend %bold-font;
        font-size: 20px;
        color: $info-title-txt-color;
        margin-bottom: 10px;
        @include l_devices {
            font-size: 18px;
            margin-bottom: 5px;
        }
        @include m_devices {
            font-size: 16px;
        }
        @include s_devices {
            font-size: 14px;
        }
    }

    &__card-about {
        @extend %regular-font;
        line-height: 27px;
        color: $info-txt-color;
        @include l_devices {
            line-height: 20px;
        }
        @include s_devices {
            line-height: 16px;
        }
    }
}