@import './../template_props';
@import './../media_mixin';

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    @include xs_devices {
        padding: 20px 0 0 0;
    }

    &__bg-part {
        position: absolute;
        z-index: 1;
        right: 12%;
        top: 37%;
        @include xl_devices {
            right: 10%;
        }
        @include l_devices {
            width: 70px;
            top: 41%;
        }
        @include m_devices {
            right: 5%;
        }
        @include s_devices {
            display: none;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 130px 0;
        z-index: 5;
        @include xxl_devices {
            width: 75%;
            margin: 100px 0;
        }
        @include xl_devices {
            margin: 80px 0;
        }
        @include l_devices {
            margin: 50px 0;
        }
        @include m_devices {
            width: 85%;
        }
        @include xs_devices {
            flex-direction: column-reverse;
            margin: 20px 0;
        }
    }

    &__info {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center; 
        @include xs_devices {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__info-item {
        width: 50%;
        display: flex;
        margin-bottom: 40px;
        @include xl_devices {
            margin-bottom: 25px;
        }
        @include l_devices {
            margin-bottom: 15px;
        }
        @include xs_devices {
            width: 95%;
            text-align: justify;
            margin-top: 10px;
            margin-bottom: 5px;
        }
    }

    &__info-item-icon {
        img {
            width: 40px;
            height: 40px;
            @include l_devices {
               width: 25px;
               height: 25px;
            }
            @include s_devices {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__info-item-main{
        margin: 0 40px;
        @include xl_devices {
            margin: 0 20px;
        }
        @include l_devices {
            margin: 0 10px;
         }
         @include s_devices {
            margin: 0 5px;
         }
    }

    &__info-item-main-title{
        @extend %bold-font;
        margin: 0 0 25px 0;
        font-size: 20px;
        color: $info-title-txt-color;
        @include xl_devices {
            margin-bottom: 15px;
        }
        @include l_devices {
            font-size: 18px;
            margin-bottom: 5px;
        }
        @include m_devices {
            font-size: 16px;
        }
        @include s_devices {
            font-size: 14px;
        }
    }

    &__info-item-main-about{
        @extend %regular-font;
        margin: 0;
        line-height: 27px;
        color: $info-txt-color;
        @include l_devices {
            line-height: 22px;
        }
        @include s_devices {
            line-height: 20px;
        }
    }

    &__content-image {
        width: 300px;
        overflow: hidden;
        @include l_devices {
            width: 260px;
        }
        @include s_devices {
            width: 230px;
        }

        img {
            @extend %image-param;
            object-fit: cover;
        }
    }
}
