
.work-container {
    display: flex;
    justify-content: space-around;
    @include xs_devices {
        flex-direction: column;
        align-items: center;
    }
}

.work-card {
    width: 33%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include xl_devices {
        height: 350px;
    }
    @include l_devices {
        height: 280px;
    }
    @include s_devices {
        height: 220px;
    }
    @include xs_devices {
        width: 100%;
    }

    &:nth-child(even) {
        box-shadow: 15px 15px 10px -10px rgba(38,47,46,0.1);
        @include xs_devices {
            box-shadow: 15px 15px 10px -10px rgba(38,47,46,0);
        }
    }

    &__icon {
        width: 76px;
        height: 70px;
        margin-bottom: 50px;
        overflow: hidden;

        img {
            @extend %image-param;
            object-fit: contain;
        }
        @include xl_devices {
            width: 66px;
            height: 60px;
            margin-bottom: 30px;
        }
        @include l_devices {
            width: 50px;
            height: 40px;
            margin-bottom: 20px;
        }
    }

    &__title {
        @extend %bold-font;
        font-size: 20px;
        letter-spacing: -1px;
        color: $primary-txt-color;
        @include l_devices {
            font-size: 18px;
        }
        @include m_devices {
            font-size: 16px;
        }
        @include s_devices {
            font-size: 14px;
        }
    }

    &__content {
        @extend %regular-font;
        width: 50%;
        line-height: 32px;
        color: $basic-txt-color;
        text-align: center;
        margin-top: 35px;
        @include xl_devices {
            line-height: 28px;
            margin-top: 25px;
        }
        @include l_devices {
            line-height: 22px;
            margin-top: 20px;
            font-size: 12px;
        }
        @include m_devices {
            line-height: 18px;
            margin-top: 15px;
        }
    }
}
